# Настройки сайта
# Доступны через Liquid-теги site.title и т.д.
title: Ржавый ящик
email: rustycrate@michaelpankov.com
description: > # это позволяет отключить переводы строк до начала "baseurl:"
  Неофициальный русскоязычный сайт о языке программирования Rust
# Здесь переводы строк можно делать с помощью <br/>
baseurl: "" # путь до сайта от корня, напр. /blog/. В нашем случае сайт прямо в корне
url: "https://rustycrate.ru" # базовое имя хоста и протокол
# Эти параметры могут использоваться темой для Jekyll, чтобы поставить ссылки на профили
twitter_username: 
github_username:  ruRust
# Настройки по умолчанию для определённых полей front matter
defaults:
  -
    scope:
      path: "" # пустая строка означает "все файлы в проекте"
      type: "posts" # эти настройки влияют на публикации
    values:
      layout: "post" # шаблон по умолчанию
      comments: true # включены ли комментарии

# Настройки сборки
# эти файлы и директории будут исключены из обработки Jekyll
exclude: [vendor, Gemfile, Gemfile.lock, travis.trash.id_rsa.enc]
markdown: redcarpet # выбираем процессор Markdown

redcarpet:
  # Включаем кучу расширений, чтобы было как на GitHub
  extensions: ["tables", "autolink", "strikethrough", "with_toc_data", "no_styles", "safe_links_only", "hover_anchors", "smart"]
