---
layout: default
title: "Блог"
---

{% for page in site.posts %}
<div class="jumbotron">
  <article>
    <header>
      <h1><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>
      <p>{% if page.author %}{{ page.author }} • {% endif %}{% if page.date %}<time>{{ page.date | date: "%b %-d, %Y" }}</time>{% endif %}{% if page.categories %} • {{ page.categories | join: ','}}{% endif %}</p>
    </header>
    <div>
      {{ page.excerpt }}
    </div>
    <footer>
      <a href="{{ page.url | prepend: site.baseurl }}">читать дальше</a>
    </footer>
  </article>
</div>
{% endfor %}
