---
layout: default
title: Ржавеющий контейнер
---
<div class="page-header">
    <h1>Ржавеющий контейнер <br/><small>Русскоязычный сайт о языке программирования Rust</small></h1>
</div>
{% for post in site.posts %}
<div class="well well-sm">
    <article>
        <header>
            <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
            <p>{% if post.author %}{{ post.author }} • {% endif %}{% if post.date %}<time>{{ post.date | localize: "%d %B %Y" }}</time>{% endif %}{% if post.categories %} • {{ post.categories | join: ','}}{% endif %}</p>
        </header>
        <div>
            {{ post.excerpt }}
        </div>
        <footer>
            <div id="buttons" style="float: right;">
                <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-default" id="read-more">читать дальше</a>
            </div>
            <div id="placeholder" style="clear: both;"></div>
        </footer>
    </article>
</div>
{% endfor %}
