---
layout: default
title: Лента
---
<div class="page-header">
    <h1>Ржавый ящик <br/><small>Русскоязычный сайт о языке программирования Rust</small></h1>
</div>
{% for post in site.posts %}
<div class="well">
    <article>
        <header>
            <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
            <p class="post-header">{% if post.author %}{{ post.author }} • {% endif %}{% if post.date %}<time>{{ post.date | localize: "%d %B %Y" }}</time>{% endif %}{% if post.categories %} • {{ post.categories | join: ','}}{% endif %}</p>
        </header>
        <div>
            {{ post.excerpt }}
        </div>
        <footer>
            <div id="buttons">
                <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-default" id="read-more">читать дальше</a>
                <a class="btn btn-default" href="{{ post.url | prepend: site.baseurl }}#comments">
                    <span class="disqus-comment-count" data-disqus-url="{{ post.url | prepend: site.baseurl }}#disqus_thread"></span>
                    <img src="/images/comments.svg" alt="комментарии" class="comments-icon">
                </a>
            </div>
            <div id="placeholder"></div>
        </footer>
    </article>
</div>
{% endfor %}
<script id="dsq-count-scr" src="//rustycrate.disqus.com/count.js" async></script>
