<script>
 var anchorForId = function (id, href) {
     var anchor = document.createElement("a");
     anchor.className = "header-link";
     anchor.href      = href + "#" + id;
     anchor.innerHTML = "<span class=\"sr-only\">Permalink</span> <i class=\"glyphicon glyphicon-link\"></i>";
     anchor.title = "постоянная ссылка";
     return anchor;
 };

 var linkifyAnchors = function (level, containingElement, href) {
     var headers = containingElement.getElementsByTagName("h" + level);
     for (var h = 0; h < headers.length; h++) {
         var header = headers[h];

         if (typeof header.id !== "undefined" && header.id !== "") {
             header.appendChild(anchorForId(header.id, href));
         }
     }
 };

 document.onreadystatechange = function () {
     if (this.readyState === "complete") {
         var wells = document.getElementsByClassName("well");
         for (var i = 0; i < wells.length; i++) {
             var well = wells[i];
             var contentBlock = well;
             var h1 = contentBlock.getElementsByTagName("h1")[0];
             var a = h1.getElementsByTagName("a")[0];
             var href = a.getAttribute("href");
             if (!contentBlock) {
                 continue;
             }
             for (var level = 1; level <= 6; level++) {
                 linkifyAnchors(level, contentBlock, href);
             }
         }
     }
 };
</script>
