{% include anchor-links.html %}
{% include emoji.html %}

<script>
 document.onreadystatechange = function () {
     if (this.readyState === "complete") {
         convertEmoji();

         var wells = document.getElementsByClassName("well");
         for (var i = 0; i < wells.length; i++) {
             var well = wells[i];
             var contentBlock = well;
             var h1 = contentBlock.getElementsByTagName("h1")[0];
             var a = h1.getElementsByTagName("a")[0];
             var href = a.getAttribute("href");
             if (!contentBlock) {
                 continue;
             }
             for (var level = 1; level <= 6; level++) {
                 linkifyAnchors(level, contentBlock, href);
             }
         }
     }
 };
</script>
