<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><p class="navbar-text">Неофициальный сайт</p></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="navbar-brand" href="/feed.xml">
            <img alt="Atom" src="/images/Feed-icon.svg" width="24" height="24">
          </a>
          <p class="navbar-text">
            <a href="/feed.xml" class="navbar-link">Подписка Atom</a>
          </p>
        </li>
        <li><a href="contacts.html">2015</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
