<nav class="navbar navbar-default navbar-bottom">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Неофициальный сайт</a>
    </div>
    <div class="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/новости/2015/11/04/hello-world.html">О сайте</a></li>
        <li>
          <a href="http://feeds.feedburner.com/rustycrate/yMtS" class="navbar-link">Подписка</a>
        </li>
        <li><a href="/contacts.html">Контакты</a></li>
        <li><p class="navbar-text">2015</p></li>
      </ul>
    </div>
  </div>
</nav>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
