<nav class="navbar navbar-default navbar-bottom">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#footer-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="footer-menu">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="/patrons.html">
                        {% img 'patreon.png' alt:'Нас поддержало 17 человек' magick:resize:16x16 %}
                        <b>Нас поддержало 17 человек</b>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ site.baseurl }}/новости/2015/11/04/hello-world.html">О сайте</a></li>
                <li>
                    <a href="https://www.reddit.com/r/rustycrate/" target="_blank" class="navbar-link">
                        {% img 'reddit.gif' alt:'Reddit' magick:resize:16 %}
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/rustycrate1" target="_blank" class="navbar-link">
                        {% img 'twitter.png' alt:'Twitter' magick:resize:16 %}
                    </a>
                </li>
                <li>
                    <a href="https://vk.com/rustycrate" target="_blank" class="navbar-link">
                        {% img 'vk.png' alt:'VK' magick:resize:16 %}
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/rustycrate/" target="_blank" class="navbar-link">
                        {% img 'fb.png' alt:'Facebook' magick:resize:16 %}
                    </a>
                </li>
                <li>
                    <a href="https://telegram.org/rustycrate" target="_blank" class="navbar-link">
                        {% img 'telegram.png' alt:'Telegram' magick:resize:16 %}
                    </a>
                </li>
                <li>
                    <a href="https://www.meetup.com/Rust-%D0%B2-%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B5/" target="_blank" class="navbar-link">
                        {% img 'meetup.jpg' alt:'Meetup' magick:resize:16 %}
                    </a>
                </li>
                <li>
                    <a href="http://feeds.feedburner.com/rustycrate/yMtS" class="navbar-link">
                        {% img 'rss.png' alt:'RSS' magick:resize:16 %}
                    </a>
                </li>
                <li><a href="{{ site.baseurl }}/contacts.html">Команда</a></li>
                <li><p class="navbar-text">{{ site.time | date: '%Y' }}</p></li>
            </ul>
        </div>
    </div>
    <div class="gitter-button">Открыть чат</div>
</nav>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ site.baseurl}}/js/bootstrap.min.js"></script>
<!-- Gitter Sidecar -->
<script>
  ((window.gitter = {}).chat = {}).options = {
    room: 'ruRust/general',
    activationElement: '.gitter-button',
    preload: true
  };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
