<!-- Yandex.Metrika counter -->
<script type="text/javascript" data-proofer-ignore>
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter35870700 = new Ya.Metrika({
                    id:35870700,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript data-proofer-ignore><div data-proofer-ignore><img src="https://mc.yandex.ru/watch/35870700" style="position:absolute; left:-9999px;" alt="" data-proofer-ignore/></div></noscript>
<!-- /Yandex.Metrika counter -->

<nav class="navbar navbar-default navbar-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/images/rustycrate-logo-32px.png" alt="rust" class="brand-icon" />
            </a>
        </div>
        <div class="navbar-collapse collapse" id="main-menu">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <div class="dropdown navbar-text">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuResources" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Русскоязычные ресурсы
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="http://rurust.github.io/rust_book_ru/" target="blank">Книга</a></li>
                            <li><a href="http://forum.rustycrate.ru/" target="blank">Форум</a></li>
                            <li><a href="https://gitter.im/ruRust/general" target="blank">Чат</a></li>
                            <li><a href="http://ru.stackoverflow.com/questions/tagged/rust" target="blank">StackOverflow</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/in-progress.html">В работе</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/ruRust" target="blank">Наш GitHub</a></li>
            </ul>
        </div>
    </div>
</nav>
