<!-- Yandex.Metrika counter -->
<script type="text/javascript" data-proofer-ignore>
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter35870700 = new Ya.Metrika({
                    id:35870700,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript data-proofer-ignore><div data-proofer-ignore><img src="https://mc.yandex.ru/watch/35870700" style="position:absolute; left:-9999px;" alt="" data-proofer-ignore/></div></noscript>
<!-- /Yandex.Metrika counter -->

<nav class="navbar navbar-default navbar-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                {% img 'rustycrate-logo-32px.png' alt:'rust' class='brand-icon' %}
            </a>
        </div>
        <div class="navbar-collapse collapse" id="main-menu">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{{ site.baseurl }}/">Блог</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-proofer-ignore>Книги <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ site.baseurl }}/dictionary.html">Словарь терминов</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="http://rurust.github.io/rust_book_ru/" target="blank">Язык программирования Rust</a></li>
                        <li><a href="https://github.com/ruRust/tlborm" target="blank">Маленькая книжка по макросам в Rust</a></li>
                        <li><a href="https://github.com/ruRust/rustonomicon" target="blank">Растономикон</a></li>
                        <li><a href="https://rurust.github.io/rust-by-example-ru" target="blank">Rust на примерах</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-proofer-ignore>Чаты <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://rustycrate.ru/руководства/2016/03/12/gitter.html">Как подключиться через IRC и другие фишки Gitter</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="https://gitter.im/ruRust/general" target="blank">Rust</a></li>
                        <li><a href="https://gitter.im/ruRust/gamedev" target="blank">Разработка игр</a></li>
                        <li><a href="https://gitter.im/ruRust/infosec" target="blank">Информационная безопасность</a></li>
                        <li><a href="https://gitter.im/ruRust/webdev" target="blank">Веб-разработка</a></li>
                        <li><a href="https://gitter.im/ruRust/algo" target="blank">Алгоритмы</a></li>
                        <li><a href="https://gitter.im/ruRust/offtopic" target="blank">Диван - разговоры обо всём</a></li>
                        <li><a href="https://gitter.im/ruRust/rustycrate.ru" target="blank">Об этом сайте</a></li>
                        <li><a href="https://gitter.im/ruRust/rust_book_ru" target="blank">О книгах, статьях и вопросах перевода</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-proofer-ignore>Материалы сообщества <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ site.baseurl }}/rules.html">Правила сообщества</a></li>
                        <li><a href="{{ site.baseurl }}/translation-rules.html">Правила перевода книг</a></li>
                        <li><a href="https://rurust.github.io/cargo-docs-ru/" target="blank">Документация по Cargo</a></li>
                        <li><a href="{{ site.baseurl }}/community-projects.html">Проекты участников нашего сообщества</a></li>
                        <li><a href="/%D1%80%D1%83%D0%BA%D0%BE%D0%B2%D0%BE%D0%B4%D1%81%D1%82%D0%B2%D0%B0/2016/03/07/contributing.html">Руководство по участию в проектах</a></li>
                        <li><a href="/editing-policy.html">Редакционная политика</a></li>
                        <li><a href="{{ site.baseurl }}/dictionary.html">Словарь терминов</a></li>
                        <li><a href="{{ site.baseurl }}/in-progress.html">Статьи, над которыми мы работаем</a></li>
                        <li><a href="{{ site.baseurl }}/contacts.html">Команда</a></li>
                        <li><a href="{{ site.baseurl }}/patrons.html">Поддержали нас на Patreon</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.baseurl }}/adopters.html">Кто использует Rust</a></li>
                <li><a href="http://forum.rustycrate.ru" target="blank">Форум</a></li>
                <li><a href="http://ru.stackoverflow.com/questions/tagged/rust" target="blank">Stackoverflow</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://github.com/ruRust" target="blank">
                        {% img 'github.png' alt:'Github' magick:resize:16x16 %}
                        GitHub
                    </a>
                </li>
                <li>
                    <a href="https://www.patreon.com/mkpankov" target="blank">
                        {% img 'patreon.png' alt:'Поддержать' magick:resize:16x16 %}
                        <b>Поддержать!</b>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Scroll To Top Button -->
<a href="#" id="topBtn" title="Наверх" onclick="topFunction()">
    <svg class="icon-svg icon-svg_scroll-up" width="32" height="32" viewBox="0 0 32 32" aria-hidden="true" version="1.1" role="img">
        <path d="M16 0C7.164 0 0 7.164 0 16s7.164 16 16 16 16-7.164 16-16S24.836 0 16 0zm8.412 19.523c-.517.512-1.355.512-1.872 0L16 13.516l-6.54 6.01c-.518.51-1.356.51-1.873 0-.516-.513-.517-1.343 0-1.855l7.476-7.326c.517-.512 1.356-.512 1.873 0l7.476 7.327c.516.513.516 1.342 0 1.854z"></path>
    </svg>
</a>
<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("topBtn").style.display = "block";
        } else {
            document.getElementById("topBtn").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
</script>
<!-- /Scroll To Top Button -->
