<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/rust-logo-32x32.png" alt="Logo" width="24px" height="24px"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><p class="navbar-text">Русскоязычные ресурсы</p></li>
        <li><a href="http://kgv.github.io/rust_book_ru/" target="blank">Книга</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="https://chat.mibbit.com/?server=irc.mozilla.org&amp;channel=%23rust-ru" target="blank">IRC</a></li>
        <li><a href="https://gitter.im/kgv/rust_book_ru" target="blank">Gitter-чат</a></li>

        <li><a href="http://ru.stackoverflow.com/questions/tagged/rust" target="blank">StackOverflow</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="contacts.html">Контакты</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
