<div>
    <div class="header-left page-header">
        <h1>Ржавый ящик <br/><small>Русскоязычный сайт о языке программирования Rust</small></h1>
    </div>
    <div class="header-right">
        <div class="posts-notice"><p>показаны 3 последние записи</p></div>
        <a href="/post.html" class="btn btn-default all-posts btn-primary">написать публикацию</a>
        <a href="/archive.html" class="btn btn-default all-posts btn-primary">все публикации</a>
    </div>
    <div class="float-cleaner">
    </div>
</div>

