<div class="pagination-area">
    <nav aria-label="Переход по страницам">
        <ul class="pagination">
            <li>
                <a href="{{ paginator.first_page_path }}"><<</a>
            </li>
            {% for trail in paginator.page_trail %}

                {% if page.url == trail.path %}
                    {% assign class = "active" %}
                {% else %}
                    {% assign class = false %}
                {% endif %}

                {% if trail.num == 1 %}
                    {% capture href %}"{{ site.baseurl }}/index.html"{% endcapture %}
                {% else %}
                    {% capture href %}"{{ site.baseurl }}/page{{ trail.num }}"{% endcapture %}
                {% endif %}

                {% capture element %}
                <a href={{ href }}>{{ trail.num }}</a>
                {% endcapture %}

                {% if class %}
                <li class={{ class }}>
                    {{ element }}
                </li>
                {% else %}
                <li>
                    {{ element }}
                </li>
                {% endif %}

            {% endfor %}
            <li>
                <a href="{{ paginator.last_page_path }}">>></a>
            </li>

            <li>
                <a href="/index-full.html">все</a>
            </li>
        </ul>
    </nav>
</div>
