body {
    line-height: 1.618;
}

.navbar {
  border-radius: 0;
  .navbar-text {
    padding: 0 15px;
  }

  .brand-icon {
    height: 24px;
  }

  &.navbar-bottom {
    margin-bottom: 0;
    margin-top: 30px;
  }
}

div#placeholder {
    clear: both;
}

div#buttons {
    margin-top: 10px;
    float: right;
}

.page-header {
    margin-top: 0;
}

.post-header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

article header h1 {
    margin-top: 10px;
}

code {
    color: #c75725;
    background-color: #f9f3f2;
}
