body {
    padding: 70px 0px;
    line-height: 1.618;
    background: 
    radial-gradient(circle at 50% 0%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent),
    radial-gradient(circle at 50% 100%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 50px -75px;
    background-color: SteelBlue;
    background-size:100px 75px;
}

.navbar {
  border-radius: 0;
  .navbar-text {
    padding: 0 15px;
  }

  .brand-icon {
    height: 32px;
  }

  &.navbar-bottom {
    margin-bottom: 0;
    margin-top: 30px;
  }
}

.navbar-brand {
    padding: 8px;
}

div#placeholder {
    clear: both;
}

div#buttons {
    margin-top: 10px;
    float: right;
}

.page-header {
    margin-top: 0;
    h1 {
        margin-left: 20px;
    }
}

.post-header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

article header h1 {
    margin-top: 10px;
}

code {
    color: #c75725;
    background-color: #f9f3f2;
}

h1#post-title {
    margin-top: 10px;
}

.container {
    background-color: #F8F8F8;
}

.container#content {
    padding-top: 15px;
}

.nav li div.dropdown {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.comments-icon {
    height: 16px;
}

#comments {
    color: black;
}

.well p img {
    width: 100%;
}
