<!DOCTYPE html>
<!-- Page last generated {{ site.time }} -->
<html lang="ru">
    <head>
        {% include head.html %}
    </head>
    <body>
        {% include header.html %}

        <div class="container" id="content">
            <div class="well">
                <div class="header-left">
                    <h1 class="page-title"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>
                </div>
                <div class="header-right">
                    <div id="buttons">
                        <a href={{ page.path | prepend: "https://github.com/ruRust/rustycrate.ru/edit/master/" }} class="btn btn-default" id="edit">предложить правки</a>
                    </div>
                </div>
                <div class="float-cleaner"></div>
                <div class="page-layout-header"></div>

                {{ content }}
            </div>

        </div>

        {% include content-loaded.html %}
        {% include footer.html %}
    </body>
</html>
