<!DOCTYPE html>
<!-- Page last generated {{ site.time }} -->
<html lang="ru">
    {% include head.html %}
    <body>
        {% include header.html %}

        <div class="container" id="content">
            <div class="well">
                <div class="header-left">
                    <h1 class="page-title"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>
                </div>
                <div class="header-right">
                    <div id="buttons">
                        <a href={{ page.path | prepend: "https://github.com/ruRust/rustycrate.ru/edit/master/" }} class="btn btn-default" id="edit">предложить правки</a>
                    </div>
                </div>
                <div class="float-cleaner"></div>
                <div class="page-layout-header"></div>

                {{ content }}

                <hr/>

                <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                <script src="//yastatic.net/share2/share.js"></script>
                <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,twitter,reddit,linkedin,pocket" data-counter=""></div>
            </div>

        </div>

        {% include footer.html %}
        {% include anchor-links.html %}
    </body>
</html>
