<!DOCTYPE html>
<!-- Page last generated {{ site.time }} -->
<html lang="ru">
    <head>
        {% include head.html %}
        <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=AM_HTMLorMML"></script>
    </head>
    <body>
        {% include header.html %}

        <div class="container" id="content">
            <div class="well">
                <h1 class="page-title"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>
                <div class="header-left">
                    {% assign post = page %}
                    {% include post-header-text.html %}
                </div>
                <div class="header-right">
                    <div id="buttons">
                        <a href={{ page.path | prepend: "https://github.com/ruRust/rustycrate.ru/edit/master/" }} class="btn btn-default" id="edit">предложить правки</a>
                    </div>
                </div>
                <div class="float-cleaner"></div>
                <div class="post-header"></div>

                {{ content }}

                <hr/>

                {% if site.set == "master" %}
                    <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                    <script src="//yastatic.net/share2/share.js"></script>
                    <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,twitter,reddit,linkedin,pocket" data-counter=""></div>
                    <hr/>
                {% endif %}
                <div class="reddit">
                    <script>
                     reddit_url='{{ page.url | prepend: site.url }}';
                     reddit_target='rustycrate';
                     reddit_newwindow='1';
                    </script>

                    <script src="//www.redditstatic.com/button/button1.js"></script>
                </div>
                <hr/>
                <div class="patreon-support">
                    <a href="https://www.patreon.com/mkpankov" target="blank">
                        {% img 'patreon-small.png' alt:'patreon' class:'patreon-support-img' %}
                    </a>
                    <a href="https://www.patreon.com/mkpankov" target="blank">
                        Поддержите на Patreon
                    </a>
                </div>
            </div>

            {% if site.set == "master" %}
                {% if page.comments %}
                <div id="comments">
                    <div id="disqus_thread"></div>
                </div>
                <script type="text/javascript">
                 /* * * CONFIGURATION VARIABLES * * */
                 var disqus_shortname = 'rustycrate';
                 var disqus_config = function () {
                     this.page.url = "{{ page.url | prepend: site.url }}";
                     this.page.identifier = "{{ page.id }}";
                 };

                 /* * * DON'T EDIT BELOW THIS LINE * * */
                 (function() {
                     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                     dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                 })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                {% endif %}
            {% endif %}
        </div>
        {% include content-loaded.html %}
        {% include footer.html %}
    </body>
</html>
